<html>
<head>
	<title>Toilet Tracker</title>
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	<style>
		body{
			font-family: 'Jua', sans-serif;
		}
		.content{
			text-align: center;
			margin: auto;
		}
		.status{
			margin: auto;
			margin-top: 10px;
			margin-bottom: 10px;
			width: 500px;
			height: 100px;
			border-radius: 50px;
			overflow: hidden;
			border: 4px solid black;
		}
		.panel {
			transform: translate(0px);
			transition: all 0.25s;
		}
		.status.is-occupied .panel{
			transform: translateY(-50%);
		}
		.part{
			height: 100px;
			line-height: 100px;
			font-size: 60px;
		}
		.part.is-vacant{
			background: green;
			color: white;
		}
		.part.is-occupied{
			background: red;
			color: white;
		}
	</style>
</head>
<body>
	<div class="content">
		<h1 style="padding-top:16px;">TOILET TRACKER™</h1>
		<h2 style="opacity: 0.5; padding-bottom: 100px;">Find out if the office toilet is busy</h2>
		<h2>The toilet is currently</h2>
		<div class="status">
			<div class="panel">
				<div class="part is-vacant"><div style="position:relative; top:5px;">VACANT</div></div>
				<div class="part is-occupied"><div style="position:relative; top:5px;">OCCUPIED</div></div>
			</div>
		</div>
		<div class="duration" style="margin-bottom: 200px;">

		</div>
		<h2>API</h2>
		<a href="/status">status</a><br>
		<a href="/history">history</a><br>
	</div>
</body>
<script>
	var ws = new WebSocket(`ws://${location.hostname}:{{PORT}}`)
	// We set the initial state
	fetch('/status').then((res)=>{res.json().then((data)=>{
		render_data(data)
	})})
	// We listen to update events
	var event = ws.addEventListener('message', (event)=>{
		var data = JSON.parse(event.data)
		render_data(data);
	})

	var status_node = document.querySelector(".status")
	var duration_node = document.querySelector(".duration")
	var last_updated_at = Date.now()
	function render_data(data){
		status_node.classList.toggle("is-occupied", data.is_occupied)
		last_updated_at = data.updated_at
	}
	setInterval(()=>{
		var total_milliseconds = (Date.now() - last_updated_at)
		var seconds = Math.round(total_milliseconds / 1000) % 60
		var minutes = Math.floor((total_milliseconds-seconds) / 1000 / 60)
		duration_node.innerHTML = `${minutes}:${seconds}`
	}, 100)
</script>
</html>
